<div crud-breadcrumbs="{{ctrl.ticket.id ? 'edit' : 'create'}}"></div>
<h2>
    <span ng-hide="ctrl.ticket.id">Create Ticket</span>
    <span ng-show="ctrl.ticket.id">Edit Ticket</span>
</h2>

<div flash-message ></div>

<form name="form" class="form-horizontal" role="form" novalidate> 
	
	<div field-container label="Subject" invalid="form.subject.$invalid">
		<input name="subject" type="text" class='form-control' ng-model="ctrl.ticket.subject" required  />
	</div>

    <div>
        <button crud-button="save" item="ctrl.ticket" is-disabled="form.$invalid"></button>
        <span ng-if="ctrl.ticket.id"><button crud-button="delete" item="ctrl.ticket"></button></span>
    </div>

</form>