<footer class="footer">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">About us</a></li>
            <li role="presentation"><a href="#">FAQ's</a></li>
            <li role="presentation"><a href="#">Legal Notice</a></li>
            <li role="presentation"><a href="#">Privacy Statement</a></li>
        </ul>
    </div>
</footer>