<div class="container">
    <div class="panel panel-body panel-default panel-ticket-list">
        <div class="ticket-list-refresh-time">Last refresh time: <span>{{ctrl.todayDate | date:"dd-MM-yyyy HH:mm:ss"}}</span></div>

        <!-- Pagination-->
        <div class="row row-pagination">
            <div class="col-sm-6">
                <pagination boundary-links="false" total-items="ctrl.totalTicketsNumber" ng-model="ctrl.page" previous-text="&laquo;" next-text="&raquo;"></pagination>
            </div>
            <div class="col-sm-6">
                    <div class="btn-group pull-right" role="group">
                        <div class="btn-group-label">View per page</div>
                        <div class="btn-group btn-group-shadow" role="group" dropdown>
                            <button aria-expanded="false" aria-haspopup="true" dropdown-toggle class="btn btn-default dropdown-toggle" type="button">
                                {{ctrl.pageSize}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="item in ctrl.pageSizeList"><a ng-click="ctrl.setPageSize(item)" href="">{{item}}</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>

        <div class="ticket-list row">
            <div class="ticket-container" ng-repeat="ticket in ctrl.ticketList">
                <div class="media">
                    <div class="pull-left ticket-icon ticket-color1"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
                    <div class="media-body">
                        <div class="media-heading">
                            <!--<div class="pull-left ticket-icon ticket-color2">-->
                                <!--<span class="glyphicon glyphicon-refresh" aria-hidden="true"-->
                                     <!--ng-click="ctrl.refreshTicket($index, ticket.id)"></span>-->
                            <!--</div>-->
                            <a data-ng-href="#/show/{{ticket.name}}">{{ticket.name}} | {{ticket.subject}}</a></div>
                        <ul class="list-inline list-unstyled">
                            <li>Creation Date: {{ticket.creationDate | date: ctrl.dateFormat}}</li>
                            <li>Scope: {{ticket.scope.name}}</li>
                            <li>Queue: {{ticket.queue}}</li>
                            <li>Engineer: {{ticket.mainContact}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-pagination">
            <div class="col-sm-6">
                <pagination boundary-links="false" total-items="ctrl.totalTicketsNumber" ng-model="ctrl.page" previous-text="&laquo;" next-text="&raquo;"></pagination>    </div>
            </div>
        </div>
</div>


