<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default panel-ticket-detail">
                <div class="panel-heading">

                    <div class="ticket-container" style="z-index: 1000;">
                        <div class="media">
                            <div class="pull-left ticket-icon ticket-color1"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
                            <div class="media-body">
                                <div class="media-heading">{{ctrl.ticket.name}} | {{ctrl.ticket.subject}}</div>
                                <div class="media-tags">
                                    <span class="label ticket-color1">{{ctrl.ticket.scope.name}}</span><span>{{ctrl.ticket.queue}}</span><span>Opened: {{ctrl.ticket.creationDate | date: ctrl.dateFormat}}</span>
                                </div>
                            </div>
                        </div>
                    </div><div></div> <!--/.ticket-container -->

                </div>
                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">Additional information</div>
                                <div class="panel-body panel-data">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="label">Label::</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Another Long-data-Label:</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is more content</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is more content</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Another Label:</div>
                                            <div class="">This is another row here</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is another row here</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Another Label:</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label">Label:</div>
                                            <div class="">This is a line for content</div>
                                        </div>
                                    </div>



                                </div>
                            </div> <!--/.panel -->

                        </div>
                    </div> <!--/.row -->
                    <div class="row">
                        <div class="col-sm-12">

                            <ul class="timeline">
                                <li>
                                    <div class="timeline-panel timeline-panel-first">
                                        <div class="timeline-body">

                                            <div class="panel panel-add-entry">
                                                <div class="panel-header">
                                                    <div class="panel-add-entry-header">Add a comment / attachment</div>
                                                    <button class="input-placeholder btn btn-primary" type="button"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Add a comment / attachment</button>
                                                </div>
                                                <div class="panel-add-entry-fields">
                                                    <div class="row">
                                                        <div class="form-group col-sm-12">
                                                            <textarea rows="4" placeholder="Add comment here" class="form-control"></textarea>
                                                        </div>
                                                        <!-- form element: file input -->
                                                        <div class="form-group col-sm-12">
                                                            <label class="sr-only" for="exampleInputFile">File input</label>
                                                            <div data-provides="fileinput" class="fileinput fileinput-new input-group">
                                                                <div data-trigger="fileinput" class="form-control"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                                                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                                                <a data-dismiss="fileinput" class="input-group-addon btn btn-default fileinput-exists" href="#">Remove</a>
                                                            </div>
                                                            <p class="help-block">Example block-level help text here.</p>
                                                        </div> <!--/.form-group -->
                                                        <div class="form-group col-sm-12">
                                                            <div role="group" class="btn-group">
                                                                <button class="btn btn-primary" type="submit">Save</button>
                                                                <button class="btn btn-ml" type="reset">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div> <!-- /panel-add-entry -->


                                        </div>
                                    </div>
                                </li> <!-- /li -->
                                <li>
                                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-comment"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted">July 14th, 2015 by Brittanie Mcelwee</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, pro illud fugit eleifend ei, ius no euismod accusamus. An pro porro assum iudico, velit eripuit saperet his at, ex vidisse debitis per. Illud dicant sea eu. Utinam iudicabit pri ad, ut sed quot putant quaeque. Vel eius voluptua ne.</p>
                                        </div>
                                    </div>
                                </li> <!-- /li -->
                                <li>
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-paperclip"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted">14.06.2015, 11:05 by Brittanie Mcelwee</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-attachment">
                                                <span class="list-icon pull-left"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></span>
                                                <a href="#" class="attachment-name"> Vorlage_Brief_ohne_Briefpapier_im_Hintergrund.dotx</a>
                                            </div> <!-- /timeline-attachment -->
                                        </div>
                                    </div>
                                </li> <!-- /li -->
                                <li>
                                    <div class="timeline-badge info"><i class="glyphicon glyphicon-comment"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted">13.06.2015, 14:15 by Kenyetta Manners</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, pro illud fugit eleifend ei, ius no euismod accusamus. An pro porro assum iudico, velit eripuit saperet his at, ex vidisse debitis per. Illud dicant sea eu. Utinam iudicabit pri ad, ut sed quot putant quaeque. Vel eius voluptua ne.
                                                <br><br>Eam quidam quaestio reprehendunt no. Ad tollit delicatissimi vis, fierent apeirian adipisci eam te. Eum eruditi offendit cu, in novum apeirian eam. Ius no maluisset consequuntur, eum ei purto propriae percipit. Ei usu aliquip splendide assentior, aperiri voluptaria expetendis eu sit, pro no eius virtute. Error nostro fabulas no sea.</p>
                                        </div>
                                    </div>
                                </li> <!-- /li -->
                                <li>
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-comment"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted">13.06.2015, 09:32  by Brittanie Mcelwee</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, pro illud fugit eleifend ei, ius no euismod accusamus. An pro porro assum iudico, velit eripuit saperet his at, ex vidisse debitis per. Illud dicant sea eu. Utinam iudicabit pri ad, ut sed quot putant quaeque. Vel eius voluptua ne.</p>
                                            <div class="timeline-attachment">
                                                <span class="list-icon pull-left"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></span>
                                                <a href="#" class="attachment-name"> Vorlage_Brief_ohne_Briefpapier_im_Hintergrund.dotx</a>
                                            </div> <!-- /timeline-attachment -->
                                        </div>
                                    </div>
                                </li> <!-- /li -->
                                <li>
                                    <div class="timeline-badge info"><i class="glyphicon glyphicon-comment"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted">11.06.2015, 12:12  by Kenyetta Manners</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, pro illud fugit eleifend ei, ius no euismod accusamus. An pro porro assum iudico, velit eripuit saperet his at, ex vidisse debitis per. Illud dicant sea eu. Utinam iudicabit pri ad, ut sed quot putant quaeque. Vel eius voluptua ne.</p>
                                        </div>
                                    </div>
                                </li> <!-- /li -->
                            </ul> <!-- /timeline -->

                        </div>
                    </div> <!--/.row -->

                </div> <!--/.panel-body -->
            </div> <!--/.panel -->


        </div> <!--/.col-sm-12 -->
    </div> <!--/.row -->
</div>