/* general styles
-------------------------------------------------- */
body {background-color: #e4e4e4;}
.shadow-z-1{box-shadow:0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12)}
.shadow-z-1-hover{box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)}
.shadow-ionic-1 {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);}
.shadow-h-1 {box-shadow: 0 3px 0px 0px white, 0 -3px 0px 0px white, 1px 0px 3px rgba(0, 0, 0, 0.3), -1px 0px 3px rgba(0, 0, 0, 0.3);}


/* Panels
-------------------------------------------------- */
.panel-default { border:none;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);}
.panel-default > .panel-heading {background-color: #f5f5f5;border-color: #ddd;color: #333;font-weight:bold;}
.panel-default .panel-heading .nav-tabs {margin:0;border:none;}
.panel-default .panel-heading-tabs {
    background:#fff;
    padding:0;
}
.panel-default  .nav-tabs > li.active > a,
.panel-default  .nav-tabs > li.active > a:focus,
.panel-default  .nav-tabs > li.active > a:hover {
    border-top:1px solid #fff;
}
.panel-default  .nav-tabs > li.active:first-child > a,
.panel-default  .nav-tabs > li.active:first-child > a:focus,
.panel-default  .nav-tabs > li.active:first-child > a:hover {
    border-left:1px solid #fff;
}
.panel-body .list-group {
    margin:0;
    box-shadow:none;
}
.panel-body  .list-group-item {
    background-color: #fff;
    border:none;
    border-top: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 0;
    position: relative;
    border-radius:0;
}
.panel-body-nb  .list-group-item {
    border:none;
}
.panel-body  .list-group-item:first-child {
    border-radius:0;
    border-top:none;
    padding-top:0;
}
.panel-body  .list-group-item:last-child {
    padding-bottom:0;
}
.panel, .nav-tabs > li > a {border-radius:0;}


ul.alert-dropdown {
    width: 250px;
}
ul.message-dropdown {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
li.message-preview {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 275px;
}
li.message-preview > a {
    padding-bottom: 15px;
    padding-top: 15px;
}
ul.message-dropdown > li > a {
    white-space: normal;
}
.navbar-inverse {
    background-color: #0096d6;
    border-color: #007fb6;
    border-bottom:none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #fdc300;
    color: #4b4b4b;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3), -1px 0px 3px rgba(0, 0, 0, 0.3);
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color:rgba(255,255,255,0.15);
}


.navbar-inverse .navbar-nav  .open > .dropdown-menu {
    display: block;
    border-top:none;
    margin-right:-1px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #fff;
    color: #333;
}



.navbar-default {
    background-color: #fff;
    border-color: #fff;
    border:none;
}
.navbar-default .navbar-nav > li > a {
    padding-bottom:12px;
    border-bottom:3px solid #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #0096d6;
    font-weight:600;
    border-bottom:3px solid #fdc300;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0096d6;
    border-bottom:3px solid #fdc300;
}




















.news-day span.label {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(24, 165, 216, 1) 0%, rgba(0, 145, 197, 1) 100%) repeat scroll 0 0;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 10px;
    text-shadow: none;
    display:inline-block;
    margin:-5px 5px -5px 0;
}
.news-date {white-space: nowrap; color:#337ab7;padding-right:10px;border-right:1px solid #ccc;}
.news-headline {padding:0 10px;}
.list-group.news-list .list-group-item {padding-left:10px;}






.nav-tabs {margin-bottom:30px;border-color:#bbb;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-color: #bbb #bbb transparent;
}


/* Ticket options
-------------------------------------------------- */
.ticket-options .pagination-group {float:right;display:inline-block;position: relative;vertical-align: middle;}
.ticket-options .pagination-group .pagination {margin:0;}
.ticket-options {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.ticket-options .btn-group {
    margin-right: 5px;
}
.ticket-options .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 4px !important;
    display: inline-block;
    padding: 5px 10px;
}
.ticket-options .filter-label {display:inline-block;position:relative;vertical-align: middle;}
.ticket-options .pagination > li > a, .pagination > li > span {padding: 5px 10px;}
.ticket-options .pagination > li > span.pagination-label {color:#333;background:none;border-color:transparent;}
.row-pagination .pagination {margin:0;}
.ticket-options > .btn-group:first-child > .btn-group-label {padding-left:0;}
.btn-group-label {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 6px 6px 12px;
    float: left;
    position: relative;
}


/* Ticket list
-------------------------------------------------- */
.ticket-list .ticket-container:hover {background:#f4f4f4;cursor:pointer}
.ticket-list .ticket-container:last-child {margin-bottom:5px;}
.ticket-list > .ticket-container {box-shadow:none;border-bottom:1px solid #ccc;}
.ticket-list > .ticket-container:first-child {border-top:1px solid #ccc;margin-top:5px;}
.ticket-list > .ticket-container:last-child {margin-bottom:10px;}


/* Ticket detail
-------------------------------------------------- */
.ticket-detail-info-fixed:before, .ticket-detail-info-fixed:after {
    content: " ";
    display: table;
}
.ticket-detail-info-fixed:after {
    clear: both;
}
.panel-ticket-detail > .panel-heading {padding:0;}
.panel-ticket-detail .panel-heading .ticket-container, .panel .panel-default {box-shadow:none;}

.attachment-name {
    width: calc(100% - 68px);
    overflow:hidden;
    text-overflow:ellipsis;
    display:inline-block;
    padding:5px;
    vertical-align:top;
}
.attachment-name:hover, .attachment-name:focus {
    background:#eee;
    text-decoration:none;
}
.list-group-item .btn-list {
    font-size:18px;
    padding: 4px 4px 3px;
    line-height: 1;}
.list-icon {
    font-size: 16px;
    line-height: 1;
    padding: 5px 5px 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 4px;
    background-color: #eee;
    border:1px solid #ddd;
    color:#999;
    margin-right:5px;
}
.panel-data  >.row {border-top: 1px solid #ddd;margin-bottom:5px}
.panel-data  >.row:first-child {border-top:none;}
.panel-data .label {
    border-radius: 0.25em;
    color: #666;
    padding:0;
}




/* Ticket container: general styles of a ticket info box (in list and detail page)
-------------------------------------------------- */
.ticket-container {
    background-color: #fff;
    min-height: 20px;
    padding: 15px;
    position:relative;
    display:block;
    clear:both;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.ticket-container:before, .ticket-container:after {
    content: " ";
    display: table;
}
.ticket-container .media, .ticket-container .media-body  {overflow:visible}
.ticket-container .media-heading {font-weight:bold;color: #337ab7;}
.ticket-container .media-topright {text-align:right}
.ticket-container .list-inline {margin-bottom:0;}
.ticket-container .list-inline li {border-right:1px solid #999;padding:0 10px}
.ticket-container .list-inline li:first-child {padding-left:5px;}
.ticket-container .list-inline li:last-child {border-right: none;}
.ticket-container  .media-topright .btn {
    padding: 0px 12px;border-color:#ccc;
}
.ticket-container  .media-topright .caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px dashed;
    margin-top:-1px;

}
.ticket-container  .media-topright .label {
    padding: 3px 6px 2px 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 4px;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.42857;
}
.ticket-container  .media-topright  {float:right;}


/* Ticket icons
-------------------------------------------------- */
.ticket-icon {
    width: 45px;
    height:45px;
    color:#fff;
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    margin-right:15px;
    text-align:center;
    line-height:45px;
    overflow:hidden;
    display:block;
}

.ticket-color1 {
    background: #cdeb8e;
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
}
.ticket-color2 {
    background: #fcf39f;
    background: -moz-linear-gradient(top,  #fcf39f 0%, #f1da36 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf39f), color-stop(100%,#f1da36));
    background: -webkit-linear-gradient(top,  #fcf39f 0%,#f1da36 100%);
    background: -o-linear-gradient(top,  #fcf39f 0%,#f1da36 100%);
    background: -ms-linear-gradient(top,  #fcf39f 0%,#f1da36 100%);
    background: linear-gradient(to bottom,  #fcf39f 0%,#f1da36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf39f', endColorstr='#f1da36',GradientType=0 );
}
.ticket-color3 {
    background: #cfe7fa;
    background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1));
    background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%);
    background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%);
    background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%);
    background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 );
}
.ticket-icon .glyphicon {font-size:30px;top:8px}
.media > .ticket-icon  {padding:0;line-height:45px;}

/* Add comment
-------------------------------------------------- */
.panel-add-comment-icon {height:50px;width:50px;border-radius:25px;background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(24, 165, 216, 1) 0%, rgba(0, 145, 197, 1) 100%) repeat scroll 0 0;display:inline-block;text-align:center;line-height:50px;}
.panel-add-comment-icon .glyphicon {color:#fff;font-size:30px;line-height:50px;}
.panel-add-comment > .panel-add-comment-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-add-comment-header {display: none; }
.panel-add-comment > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}
.panel-add-comment.panel-add-comment-show-comment > .panel-footer > .panel-add-comment-header {display: block;}
.panel-add-comment.panel-add-comment-show-comment > .panel-footer > .input-placeholder {display: none;}
.panel-add-comment > .panel-add-comment-comment {
    display: none;
    padding: 10px 15px 15px 10px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-add-comment.panel-add-comment-show-comment > .panel-add-comment-comment {
    display: block;
}
.panel-add-comment > .panel-add-comment-comment > .panel-add-comment-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-add-comment > .panel-add-comment-comment > .panel-add-comment-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    resize: vertical;
}
.panel-add-comment > .panel-add-comment-comment > .panel-add-comment-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-add-comment > .panel-add-comment-comment > .panel-add-comment-textarea > .btn {
        width: auto;
    }
}

/* Add entry
-------------------------------------------------- */
.panel-add-entry-header {display: none; }
.panel-add-entry > .panel-header {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}
.panel-add-entry.panel-add-entry-show-fields > .panel-header > .panel-add-entry-header {display: block;}
.panel-add-entry.panel-add-entry-show-fields > .panel-header > .input-placeholder {display: none;}
.panel-add-entry > .panel-add-entry-fields {
    display: none;
}
.panel-add-entry.panel-add-entry-show-fields > .panel-add-entry-fields {
    display: block;
}
.panel-add-entry-header {
    padding-bottom:10px
}
.panel-add-entry > .panel-add-entry-fields > .panel-add-entry-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-add-entry > .panel-add-entry-fields > .panel-add-entry-textarea > .btn {
        width: auto;
    }
}


/* timeline with comments and attachments
-------------------------------------------------- */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    padding-top:0;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #999;
    left: 40px;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    background:#fff;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    left: -15px;
    right: auto;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
    border-left-width: 0;
    border-right-width: 15px;
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    left: -14px;
    right: auto;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
    border-left-width: 0;
    border-right-width: 14px;
}
.timeline > li > .timeline-panel-first {width:100%}
.timeline > li > .timeline-panel-first:before, .timeline > li > .timeline-panel-first:after {
    display:none;
}
.timeline > li > .timeline-badge {
    color: #fff;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 15px;
    margin-left: 0;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
.timeline .panel {margin-bottom:0;border:none;box-shadow:none;}




/* sticky header styles
-------------------------------------------------- */
body.body-navbar-fixed-top {padding-top: 80px;}
body.body-navbar-fixed-top .navbar {margin:0;}
body.navbar-hidden {padding-top: 30px;}
body.navbar-hidden nav {display:none;}



/* login / register styles
-------------------------------------------------- */
.container-password, .container-register-form  {
    padding: 15px;
    background:rgba(255,255,255,0.8);
    box-shadow:0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12)
}

.form-signin {margin: 0 auto;}
.form-signin-heading {margin-top:0;font-size:20px;}
.form-signin .form-signin-heading,
.form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.container-password .btn-group-justified {margin-top:15px;}

.btn-register-submit {margin-top:15px;}


/* footer styles
-------------------------------------------------- */
.footer {
    border-top: 1px solid #ccc;
    color: #777;
    padding-top: 15px;
    margin-top:30px;
}
.footer .nav-tabs > li, .footer .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
.footer .nav-tabs, .footer .nav-pills {text-align:center;}
.footer .nav-pills:hover {text-align:center;}
.footer .nav-pills > li > a:hover, .footer .nav-pills > li > a:focus {background-color: #337ab7;color: #fff;}


/* Sticky footer styles
-------------------------------------------------- */
.html-sticky-footer {
    position: relative;
    min-height: 100%;
}
body.sticky-footer {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
body.sticky-footer .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* awesome-bootstrap-checkbox.css overrides
-------------------------------------------------- */
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}
.checkbox label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px;
}