/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* require allez
*
*= require_self
*= require bootstrap/css/bootstrap
*= require font-awesome
*= require style
*/

body.body-navbar-fixed-top {
    padding-top: 80px;
}
.ticket-list-refresh-time{
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}
.ticket-list-refresh-time span {
    color: #006699;
    font-weight: bold;
}