<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
</head>

<body ng-app="myApp.track">

<content tag="scripts">
    <asset:javascript src="my-app/track/module"/>
</content>
</body>
</html>
